<!DOCTYPE html>
<html lang="en" ng-app="taoApp">
<head>
	<meta charset="UTF-8">
	<title>a1</title>
	<script type="text/javascript" src="./angularLib/angular.js"></script>
	<link rel="stylesheet" href="./angularLib/bootstrap.min.css">
</head>
<body>
<div ng-controller="MyCtrl">
		Ctrl:
		<br>
	<input type="text" ng-model="ctrlFlavor">
		<br>
		Directive:
		<br>
	<drink flavor="ctrlFlavor"></drink>
</div>
<script type="text/javascript">
	var myModule = angular.module("taoApp",[]);
	myModule.controller('MyCtrl', ['$scope', function($scope){
		$scope.ctrlFlavor="百威";
	}])
	myModule.directive("drink", function() {
	    return {
	    	restrict:'AE',
	        scope:{flavor:'='},
	        template:'<input type="text" ng-model="flavor"/>'
	    }
	});
</script>
</body>
</html>