<!DOCTYPE html>
<html lang="en" ng-app="taoApp">
<head>
	<meta charset="UTF-8">
	<title>a2</title>
	<script type="text/javascript" src="./angularLib/angular.js"></script>
	<link rel="stylesheet" href="./angularLib/bootstrap.min.css">
	<style>
		.aaa{color:blueviolet;}
		.bbb{background:#f8a;}
	</style>
</head>
<body>
	<div ng-controller="MyCtrl">
		<greeting greet="sayHello(name)"></greeting>
		<greeting greet="sayHello(name)"></greeting>
		<greeting greet="sayHello(name)"></greeting>
	</div>
<script type="text/javascript">
	var myModule = angular.module("taoApp",[]);
	myModule.controller('MyCtrl', ['$scope', function($scope){
		$scope.sayHello=function(name){
			console.log(arguments);
			alert("Hello "+name);
		}
	}])
	myModule.directive("greeting", function() {
	    return {
	    	restrict:'AE',
	        scope:{greet:'&'},
	        template:'<input type="text" ng-model="userName" /><br/>'+
	        		 '<button class="btn btn-default" ng-click="greet(userName)">Greeting</button><br/>'
	    }
	});
</script>

</body>
</html>