<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-router</title>
  <link rel="stylesheet" href="./global.css">
</head>
<body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<div id="app">
  <h1>Hello App!</h1>
  <div>
    <p><router-link to="/user/aaa">path1</router-link></p>
  </div>
  <router-view></router-view>
</div>
<script>
var getPost=function(url,succ){
  console.log(url);
  setTimeout(function(){
    succ.call(null,false,{title:"我自己的",body:"这是主体内容~~~"});
  },8000);
};

var nc={
  template:`<div class="post">
    <div class="loading" v-if="loading">
      Loading...
    </div>

    <div v-if="error" class="error">
      {{ error }}
    </div>

    <div v-if="post" class="content">
      <h2>{{ post.title }}</h2>
      <p>{{ post.body }}</p>
    </div>
  </div>`,
  data:function() {
    return {
      loading: false,
      post: null,
      error: null
    }
  },
  created:function() {
    this.fetchData()
  },
  watch: {
    // 如果路由有变化，会再次执行该方法
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      this.error = this.post = null
      this.loading = true
      // replace getPost with your data fetching util / API wrapper
      getPost(this.$route.params.id, (err, post) => {
        this.loading = false
        if (err) {
          this.error = err.toString()
        } else {
          this.post = post
        }
      })
    }
  }
};

var router= new VueRouter({
  routes:[
    { path: '/', component: nc }
  ]
});

new Vue({
  router:router
}).$mount('#app');

</script>
</body>
</html>